.workContent {
    padding: 60px 60px;
    background-color: hsl(210, 4%, 98%);
    min-height: 100vh;
}

.works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.workTitle {
    font-family: 'Poller One', cursive;
    color: hsl(0, 4%, 21%);
    font-size: 43px;
}

.activities {
    background-image: url('../../../public/Work/snail.png');
}

.advent {
    background-image: url('../../../public/Work/christmas.png');
}

.shop {
    background-image: url('../../../public/Work/shopping.png');
}

.toDo {
    background-image: url('../../../public/Work/to-do-list.png');
}

.nba {
    background-image: url('../../../public/Work/basketball-hoop.png');

}

@media only screen and (min-width: 1000px) {
    .workContent {
        padding-left: 80px;
        padding-right: 80px;
    }

    .works {
        justify-content: center;
    }
}

